    name: biostats_final_project_env
    channels:
      - conda-forge
      - defaults
    dependencies:
      - python=3.12
      - pip
      - pip:
          - scikit-learn
          - pandas
          - numpy
          - matplotlib
          - lightgbm
          - shap
          - seaborn
          - jupyter
